$outline-width: 0;
$break-point-0: 640px;
$break-point-1: 1040px;
$break-point-2: 1800px;

$gray-base:     #999999;
$color-1: #9bc53d; //android green
$color-2: #5bc0eb; //blue jeans
$color-3: #fa7921; //princeton orange
$color-4: #e55934; //flame
$color-5: #fde74c; //gargoyle gas
$shadow-1: rgba(0,0,0,0.12);
$shadow-2: rgba(0,0,0,0.24);
$text-color: #333;

$num_icons: 10;


@keyframes expand {
	from {
		margin-left: 25%;
		margin-right: 25%;
	}
	to {
		margin-left: 11%;
		margin-right: 11%;
	}
}

@keyframes appear {
	from {
		opacity: 0;
    }
    to {
		opacity: 1;
    }
}


@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
	font-size: 1.2vw;
}

body{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
		font-family: 'Comfortaa', cursive;
}

h1,h2{
		font-family: 'Comfortaa', cursive;
}

h4, h5, h6, .timeline-marker-label, #timeline-header{
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 2s;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}


header#main{
	width: 100%;
	text-align: center;
	padding: 1px 0px;
	background-color: $color-3;
	box-shadow: 0 1px 3px $shadow-1, 0 1px 2px $shadow-2;
}


header#main h1{
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

header#main h1 a,
header#main h1 a:hover,
header#main h1 a:visited{
	color: #ffffff;
	text-decoration: none;
}

#chooser{
	margin: 0 auto;
	max-width: 1200px;
}

#chooser-header{
	text-align: center;
	width: 100%;
}

#chooser-header i.fa{
	color: $gray-base;
}

#chooser-event-one-cancel,
#chooser-event-two-cancel{
	cursor: pointer;
}


#timeline-section{
	width: 100%;
	position: relative;
	top: 150px;
	max-width: 1200px;
	margin: 0 auto;
}

#timeline{
    position: relative;
    margin-left: 11%;
    margin-right: 11%;
    animation-name: expand, appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#timeline-header{
	text-align: center;
	position: relative;
	top: 300px;
	margin-left: 11%;
	margin-right: 11%;
	padding-bottom: 60px;
}

.timeline-part{
	border: 0px;
	float: left;
	position:relative;
	text-align: center;
	padding-bottom: 5px;
	z-index: -100;
	transition: width 2s ease-in-out;
	border-bottom: solid 6px;
}

.timeline-part-label{
	width: 100%;
	position:absolute;
	bottom: 0px;
	padding: 0px 30px;
	text-align: center;
}

#timeline-part-one{
	border-color: $color-1;
	color: $color-1;
}

#timeline-part-two{
	border-color: $color-2;
	color: $color-2;
}

.timeline-marker{
	position: absolute;
	top: -2vw;
	width: 20vw;
	text-align: center;
	/*max-width: 250px;*/
	@media screen and (min-width: $break-point-0) {
		top: -2.5vw;
	}

	@media screen and (min-width: $break-point-1) {
		top: -3vw;
	}
}

.timeline-marker-label{
		font-weight: bold;
}

.timeline-marker-icon{
	padding: 1.2vw;
	margin: 1vw auto;
	border-radius: 3rem;
	color: transparent;
	/*font-size: 2.4rem;
	line-height: 2rem;*/
	box-shadow: 0 1px 3px $shadow-1, 0 1px 2px $shadow-2;
	box-sizing: border-box;	
	/*background-color: $color-4;
	max-width: 5vw;*/
	transition: color 2s;
	width: 5vw;
	height: 5vw;
	position: relative;
	max-width: 90px;
	max-height: 90px;
	background-color: $color-3;
	background-image: url(../img/icone.png);
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: none;
}
/*
.timeline-marker-icon:before{
	font-family: FontAwesome;
	top: 0;
	left: 0px;
	content: "\f133"; // calendar-o 
	color: #ffffff;
	background-color: $color-3;
	width: 5vw;
	height: 5vw;
	position: absolute;
	line-height: 5vw;
	border-radius: 3vw;
	font-size: 2vw;
	max-width: 90px;
	max-height: 90px;

	@media screen and (min-width: $break-point-2) {
		font-size: 36px;
	}
}*/

.chooser-event-pre:before{
	font-family: FontAwesome;
	font-style: normal;
	content: "\f002"; /* search*/
	width: 1.28571429em;
	text-align: center;
}

#timeline-marker-icon-end{
	background-position: 0% calc(100% / #{$num_icons} * 1); //calendar-check-o
}

/*
#timeline-marker-icon-end:before{
	content: "\f274"; // calendar-check-o 
}
*/

.history:before{
	content: "\f19c"; /* university */
}

.history{
	background-position: 0% calc(100% / #{$num_icons} * 2);
}

.music:before{
	content: "\f001"; /* music */
}

.music{
	background-position: 0% calc(100% / #{$num_icons} * 3);
}

.film:before{
	content: "\f008"; /* film */
}

.film{
	background-position: 0% calc(100% / #{$num_icons} * 4);
}

.building:before{
	content: "\f1ad"; /* building */
}

.building{
	background-position: 0% calc(100% / #{$num_icons} * 5);
}

.book:before{
	content: "\f02d"; /* book */
}	

.book{
	background-position: 0% calc(100% / #{$num_icons} * 6);
}

.science:before{
	content: "\f0c3"; /* flask */
}

.science{
	background-position: 0% calc(100% / #{$num_icons} * 7);
}

.art:before{
	content: "\f1fc"; /* paint-brush */
}

.art{
	background-position: 0% calc(100% / #{$num_icons} * 8);
}

.computer:before{
	content: "\f2db"; /* microchip */
}

.computer{
	background-position: 0% calc(100% / #{$num_icons} * 9);
}

.sport:before{
	content: "\f1e3"; /* futbol-o */
}

.sport{
	background-position: 0% calc(100% / #{$num_icons} * 10);
}


.person:before{
	content: "\f2be"; /* user-circle-o */
}


#timeline-marker-start{
	left: -10vw;
}

#timeline-marker-middle{
	margin-left: -10vw;
	bottom: -4.95vw;
	top: auto;
	transition: left 2s ease-in-out;

	@media screen and (min-width: $break-point-0) {
		bottom: -4.45vw;
	}

	@media screen and (min-width: $break-point-1) {
		bottom: -3.95vw;
	}

}

#timeline-marker-end{
	right: -10vw;
}

h5.date{
	color: $color-4;
	clear: both;
	margin: 0px;
}

.empty-message{
	padding: 3px 20px;
	font-style: italic;
}

footer{
	background-color: $color-3;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	padding: 0px 20px;
	box-shadow: 0 -1px 3px $shadow-1, 0 -1px 2px $shadow-2;
	font-size: 2.6vw;
	
	@media screen and (min-width: $break-point-0) {
		font-size: 14px;
	}
}

.right{
	float: right;
}

footer a,
footer a:hover,
footer a:visited{
	font-weight: bold;
	color: #ffffff;
}

footer .popover,
footer .popover a,
footer .popover a:hover,
foter .popover a:visited{
	color: $text-color;
}

#twitter-share-button{
	font-weight: bold;
}

#suggest{
	position: fixed;
	background-color: #ffffff;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

#close-suggest{
	font-size: 4vw;
	color: $gray-base;
	position: absolute;
	top:   20px;
	right: 20px;
}

#form-suggest{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%,-50%);
	padding: 40px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#form-suggest select{
	width: 100%;
	height: 34px;
}

#form-suggest button{
	width: 100%;
	background-image: none;
	background-color: $color-3;
	color: #ffffff;
	text-shadow: none;
}