Options +FollowSymLinks

<filesMatch "service-worker.js$">
Header set Cache-Control "max-age=0, public"
</filesMatch>


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^template.html$ index.html [L]
RewriteRule ^([0-9]+/?){2,}$ index.php [L]
</IfModule>