Options +FollowSymLinks

<filesMatch "service-worker.js$">
Header set Cache-Control "max-age=0, public"
</filesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /closertintime/
RewriteRule ^closerintime/([0-9]+/?)+$ index.php [L]
</IfModule>