Options +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /thumb/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([0-9]+)_\.png$ index.php?a=$1 [L]
RewriteRule ^([0-9]+)_([0-9]+)\.png$ index.php?a=$1&b=$2 [L]
RewriteRule ^([0-9]+)_([0-9]+)_([0-9]+)\.png$ index.php?a=$1&b=$2&c=$3 [L]
</IfModule>